@import "./unit-grid";
@import "./variable";

// Mixin
@mixin flexCenter($height) {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: $height;
}

.App {
  background-color: $backGroundColor;
  @include flexCenter(100vh);
  .name-header {
    font-weight: bold;
  }
}

.button-container {
  background-color: Transparent;
  margin-bottom: 10px;
}

.army-container {
  min-height: 50px;
  background-color: $unitCardBackGround;
  border: 5px solid black;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
