.unit-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.unit-grid-container .unit-container {
  background-color: rgb(230, 227, 227);
  border: 5px solid black;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.App {
  background-color: #0d407f;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}
.App .name-header {
  font-weight: bold;
}

.button-container {
  background-color: Transparent;
  margin-bottom: 10px;
}

.army-container {
  min-height: 50px;
  background-color: rgb(230, 227, 227);
  border: 5px solid black;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.game-board td {
  background-color: aliceblue;
  width: 80px;
  height: 80px;
}
.board-col {
  position: relative;
}

.board-col:hover {
  background-color: yellow;
}
.index-number {
  position: absolute;
  top: 0;
  left: 0;
}
